.boxsi_li {
    width: 100%;
    height: 336px;
    box-sizing: border-box;
    border: 1px solid rgb(223, 224, 235);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding-top: 32px;
    padding-left: 32px;
    padding-right: 32px;
}

.boxsi_wrap2 {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

.boxsi_hr {
    border: 1px solid rgb(223, 224, 235);
    width: 100%;
}

.boxsi_title {
    color: rgb(37, 39, 51);
    font-family: Mulish;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.boxsi_suptitle {
    color: rgb(55, 81, 255);
    font-family: Mulish;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.boxsi_wrap1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boxsi_grey_text {
    color: rgb(159, 162, 180);
    font-family: Mulish;
    font-weight: 600;
    font-size: 12px;
    padding-top: 8px;

    span {
        color: rgb(75, 80, 109);
    }
}

.boxsi_info {
    color: rgb(37, 39, 51);
    font-family: Mulish;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.boxsi_state {
    color: rgb(159, 162, 180);
    font-family: Mulish;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.boxsi_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 30px;
}

.boxsi2_btn {
    padding: 5px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.boxsi2_btn_yellow {
    background: rgb(254, 196, 0);
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
}

.boxsi2_btn_green {
    background: rgb(41, 204, 151);
    color: rgb(255, 255, 255);
    font-family: Mulish;
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
}

.boxsi2_btn_grey {
    background: rgb(240, 241, 247);
    color: rgb(159, 162, 180);
    font-family: Mulish;
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: uppercase;
}

.boxsi2_wrap2 {
    width: 100%;
    height: 58px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

.boxsi_checkbox {
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(197, 199, 205);
    border-radius: 50%;
    cursor: pointer;
}

.boxsi2_grey_text {
    color: rgb(197, 199, 205);
    font-family: Mulish;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.2px;
}